/*Interval Bold*/
@font-face {
    font-family: 'IntervalSansProBold';
    src: url('fonts/interval_bold/interval_bold-webfont.eot');
    src: url('fonts/interval_bold/interval_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interval_bold/interval_bold-webfont.woff') format('woff'),
         url('fonts/interval_bold/interval_bold-webfont.ttf') format('truetype'),
         url('fonts/interval_bold/interval_bold-webfont.svg#IntervalSansProBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Interval Bold Italic*/
@font-face {
    font-family: 'IntervalSansProBoldItalic';
    src: url('fonts/interval_bolditalic/interval_bold_italic-webfont.eot');
    src: url('fonts/interval_bolditalic/interval_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interval_bolditalic/interval_bold_italic-webfont.woff') format('woff'),
         url('fonts/interval_bolditalic/interval_bold_italic-webfont.ttf') format('truetype'),
         url('fonts/interval_bolditalic/interval_bold_italic-webfont.svg#IntervalSansProBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Interval Condensed Bold*/
@font-face {
    font-family: 'IntervalSansProCondensedBold';
    src: url('fonts/interval_condensedbold/interval_bold_cond-webfont.eot');
    src: url('fonts/interval_condensedbold/interval_bold_cond-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interval_condensedbold/interval_bold_cond-webfont.woff') format('woff'),
         url('fonts/interval_condensedbold/interval_bold_cond-webfont.ttf') format('truetype'),
         url('fonts/interval_condensedbold/interval_bold_cond-webfont.svg#IntervalSansProCondensedBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Interval Condensed Bold Italic*/
@font-face {
    font-family: 'IntervalSansProCnBdIt';
    src: url('fonts/interval_condensedbolditalic/interval_bold_cond_italic-webfont.eot');
    src: url('fonts/interval_condensedbolditalic/interval_bold_cond_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interval_condensedbolditalic/interval_bold_cond_italic-webfont.woff') format('woff'),
         url('fonts/interval_condensedbolditalic/interval_bold_cond_italic-webfont.ttf') format('truetype'),
         url('fonts/interval_condensedbolditalic/interval_bold_cond_italic-webfont.svg#IntervalSansProCnBdIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Interval Condensed Light*/
@font-face {
    font-family: 'IntervalSansProCondensedLight';
    src: url('fonts/interval_condensedlight/interval_light_cond-webfont.eot');
    src: url('fonts/interval_condensedlight/interval_light_cond-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interval_condensedlight/interval_light_cond-webfont.woff') format('woff'),
         url('fonts/interval_condensedlight/interval_light_cond-webfont.ttf') format('truetype'),
         url('fonts/interval_condensedlight/interval_light_cond-webfont.svg#IntervalSansProCondensedLight') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Interval Condensed Light Italic*/
@font-face {
    font-family: 'IntervalSansProCnLtIt';
    src: url('fonts/interval_condensedlightitalic/interval_light_cond_italic-webfont.eot');
    src: url('fonts/interval_condensedlightitalic/interval_light_cond_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interval_condensedlightitalic/interval_light_cond_italic-webfont.woff') format('woff'),
         url('fonts/interval_condensedlightitalic/interval_light_cond_italic-webfont.ttf') format('truetype'),
         url('fonts/interval_condensedlightitalic/interval_light_cond_italic-webfont.svg#IntervalSansProCnLtIt') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Interval Condensed Medium*/
@font-face {
    font-family: 'IntervalSansProCnMd';
    src: url('fonts/interval_condensedmedium/interval_medium_cond-webfont.eot');
    src: url('fonts/interval_condensedmedium/interval_medium_cond-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interval_condensedmedium/interval_medium_cond-webfont.woff') format('woff'),
         url('fonts/interval_condensedmedium/interval_medium_cond-webfont.ttf') format('truetype'),
         url('fonts/interval_condensedmedium/interval_medium_cond-webfont.svg#IntervalSansProCnMd') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Interval Condensed Medium Italic*/
@font-face {
    font-family: 'IntervalSansProCnMdIt';
    src: url('fonts/interval_condensedmediumitalic/interval_medium_cond_italic-webfont.eot');
    src: url('fonts/interval_condensedmediumitalic/interval_medium_cond_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interval_condensedmediumitalic/interval_medium_cond_italic-webfont.woff') format('woff'),
         url('fonts/interval_condensedmediumitalic/interval_medium_cond_italic-webfont.ttf') format('truetype'),
         url('fonts/interval_condensedmediumitalic/interval_medium_cond_italic-webfont.svg#IntervalSansProCnMdIt') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Interval Condensed Regular*/
@font-face {
    font-family: 'IntervalSansProCnRg';
    src: url('fonts/interval_condensedregular/interval_cond_regular-webfont.eot');
    src: url('fonts/interval_condensedregular/interval_cond_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interval_condensedregular/interval_cond_regular-webfont.woff') format('woff'),
         url('fonts/interval_condensedregular/interval_cond_regular-webfont.ttf') format('truetype'),
         url('fonts/interval_condensedregular/interval_cond_regular-webfont.svg#IntervalSansProCnRg') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Interval Condensed Regular Italic*/
@font-face {
    font-family: 'IntervalSansProCnRgIt';
    src: url('fonts/interval_condensedregularitalic/interval_cond_regular_italic-webfont.eot');
    src: url('fonts/interval_condensedregularitalic/interval_cond_regular_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interval_condensedregularitalic/interval_cond_regular_italic-webfont.woff') format('woff'),
         url('fonts/interval_condensedregularitalic/interval_cond_regular_italic-webfont.ttf') format('truetype'),
         url('fonts/interval_condensedregularitalic/interval_cond_regular_italic-webfont.svg#IntervalSansProCnRgIt') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Interval Condensed Semi Bold*/
@font-face {
    font-family: 'IntervalSansProCnSBd';
    src: url('fonts/interval_condensedsemibold/interval_semi_bold_cond-webfont.eot');
    src: url('fonts/interval_condensedsemibold/interval_semi_bold_cond-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interval_condensedsemibold/interval_semi_bold_cond-webfont.woff') format('woff'),
         url('fonts/interval_condensedsemibold/interval_semi_bold_cond-webfont.ttf') format('truetype'),
         url('fonts/interval_condensedsemibold/interval_semi_bold_cond-webfont.svg#IntervalSansProCnSBd') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Interval Condensed Semi Bold Italic*/
@font-face {
    font-family: 'IntervalSansProCnSBdIt';
    src: url('fonts/interval_condensedsemibolditalic/interval_semi_bold_cond_italic-webfont.eot');
    src: url('fonts/interval_condensedsemibolditalic/interval_semi_bold_cond_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interval_condensedsemibolditalic/interval_semi_bold_cond_italic-webfont.woff') format('woff'),
         url('fonts/interval_condensedsemibolditalic/interval_semi_bold_cond_italic-webfont.ttf') format('truetype'),
         url('fonts/interval_condensedsemibolditalic/interval_semi_bold_cond_italic-webfont.svg#IntervalSansProCnSBdIt') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*Interval Condensed Ultra Light*/
@font-face {
    font-family: 'IntervalSansProCnUltraLt';
    src: url('fonts/interval_condensedultralight/interval_ultra_light_cond-webfont.eot');
    src: url('fonts/interval_condensedultralight/interval_ultra_light_cond-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interval_condensedultralight/interval_ultra_light_cond-webfont.woff') format('woff'),
         url('fonts/interval_condensedultralight/interval_ultra_light_cond-webfont.ttf') format('truetype'),
         url('fonts/interval_condensedultralight/interval_ultra_light_cond-webfont.svg#IntervalSansProCnUltraLt') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Interval Condensed Ultra Light Italic*/
@font-face {
    font-family: 'IntervalSansProCnUltraLtIt';
    src: url('fonts/interval_condensedultralightitalic/interval_ultra_light_cond_italic-webfont.eot');
    src: url('fonts/interval_condensedultralightitalic/interval_ultra_light_cond_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interval_condensedultralightitalic/interval_ultra_light_cond_italic-webfont.woff') format('woff'),
         url('fonts/interval_condensedultralightitalic/interval_ultra_light_cond_italic-webfont.ttf') format('truetype'),
         url('fonts/interval_condensedultralightitalic/interval_ultra_light_cond_italic-webfont.svg#IntervalSansProCnUltraLtIt') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Interval Light*/
@font-face {
    font-family: 'IntervalSansProLight';
    src: url('fonts/interval_light/interval_light-webfont.eot');
    src: url('fonts/interval_light/interval_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interval_light/interval_light-webfont.woff') format('woff'),
         url('fonts/interval_light/interval_light-webfont.ttf') format('truetype'),
         url('fonts/interval_light/interval_light-webfont.svg#IntervalSansProLight') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Interval Light Italic*/
@font-face {
    font-family: 'IntervalSansProLightItalic';
    src: url('fonts/interval_lightitalic/interval_light_italic-webfont.eot');
    src: url('fonts/interval_lightitalic/interval_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interval_lightitalic/interval_light_italic-webfont.woff') format('woff'),
         url('fonts/interval_lightitalic/interval_light_italic-webfont.ttf') format('truetype'),
         url('fonts/interval_lightitalic/interval_light_italic-webfont.svg#IntervalSansProLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*Interval Medium*/
@font-face {
    font-family: 'IntervalSansProMedium';
    src: url('fonts/interval_medium/interval_medium-webfont.eot');
    src: url('fonts/interval_medium/interval_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interval_medium/interval_medium-webfont.woff') format('woff'),
         url('fonts/interval_medium/interval_medium-webfont.ttf') format('truetype'),
         url('fonts/interval_medium/interval_medium-webfont.svg#IntervalSansProMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*Interval Medium Italic*/
@font-face {
    font-family: 'IntervalSansProMediumItalic';
    src: url('fonts/interval_mediumitalic/interval_medium_italic-webfont.eot');
    src: url('fonts/interval_mediumitalic/interval_medium_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interval_mediumitalic/interval_medium_italic-webfont.woff') format('woff'),
         url('fonts/interval_mediumitalic/interval_medium_italic-webfont.ttf') format('truetype'),
         url('fonts/interval_mediumitalic/interval_medium_italic-webfont.svg#IntervalSansProMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Interval Regular*/
@font-face {
    font-family: 'IntervalSansProRegular';
    src: url('fonts/interval_regular/interval_regular-webfont.eot');
    src: url('fonts/interval_regular/interval_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interval_regular/interval_regular-webfont.woff') format('woff'),
         url('fonts/interval_regular/interval_regular-webfont.ttf') format('truetype'),
         url('fonts/interval_regular/interval_regular-webfont.svg#IntervalSansProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Interval Regular Italic*/
@font-face {
    font-family: 'IntervalSansProItalic';
    src: url('fonts/interval_regularitalic/interval_regular_italic-webfont.eot');
    src: url('fonts/interval_regularitalic/interval_regular_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interval_regularitalic/interval_regular_italic-webfont.woff') format('woff'),
         url('fonts/interval_regularitalic/interval_regular_italic-webfont.ttf') format('truetype'),
         url('fonts/interval_regularitalic/interval_regular_italic-webfont.svg#IntervalSansProItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Interval Semi Bold*/
@font-face {
    font-family: 'IntervalSansProSemiBold';
    src: url('fonts/interval_semibold/interval_semi_bold-webfont.eot');
    src: url('fonts/interval_semibold/interval_semi_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interval_semibold/interval_semi_bold-webfont.woff') format('woff'),
         url('fonts/interval_semibold/interval_semi_bold-webfont.ttf') format('truetype'),
         url('fonts/interval_semibold/interval_semi_bold-webfont.svg#IntervalSansProSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Interval Semi Bold Italic*/
@font-face {
    font-family: 'IntervalSansProSemiBoldItalic';
    src: url('fonts/interval_semibolditalic/interval_semi_bold_italic-webfont.eot');
    src: url('fonts/interval_semibolditalic/interval_semi_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interval_semibolditalic/interval_semi_bold_italic-webfont.woff') format('woff'),
         url('fonts/interval_semibolditalic/interval_semi_bold_italic-webfont.ttf') format('truetype'),
         url('fonts/interval_semibolditalic/interval_semi_bold_italic-webfont.svg#IntervalSansProSemiBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Interval Ultra Light*/
@font-face {
    font-family: 'IntervalSansProUltraLight';
    src: url('fonts/interval_ultralight/interval_ultra_light-webfont.eot');
    src: url('fonts/interval_ultralight/interval_ultra_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interval_ultralight/interval_ultra_light-webfont.woff') format('woff'),
         url('fonts/interval_ultralight/interval_ultra_light-webfont.ttf') format('truetype'),
         url('fonts/interval_ultralight/interval_ultra_light-webfont.svg#IntervalSansProUltraLight') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Interval Ultra Light Italic*/
@font-face {
    font-family: 'IntervalSansProUltraLtIt';
    src: url('fonts/interval_ultralightitalic/interval_ultra_light_italic-webfont.eot');
    src: url('fonts/interval_ultralightitalic/interval_ultra_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interval_ultralightitalic/interval_ultra_light_italic-webfont.woff') format('woff'),
         url('fonts/interval_ultralightitalic/interval_ultra_light_italic-webfont.ttf') format('truetype'),
         url('fonts/interval_ultralightitalic/interval_ultra_light_italic-webfont.svg#IntervalSansProUltraLtIt') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Interval Sans Pro Black*/
@font-face {
    font-family: 'IntervalSansProBlack';
    src: url('fonts/intervalsanspro_black/interval_black-webfont.eot');
    src: url('fonts/intervalsanspro_black/interval_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/intervalsanspro_black/interval_black-webfont.woff') format('woff'),
         url('fonts/intervalsanspro_black/interval_black-webfont.ttf') format('truetype'),
         url('fonts/intervalsanspro_black/interval_black-webfont.svg#IntervalSansProBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Interval Sans Pro Black Italic*/
@font-face {
    font-family: 'IntervalSansProBlackItalic';
    src: url('fonts/intervalsanspro_blackitalic/interval_black_italic-webfont.eot');
    src: url('fonts/intervalsanspro_blackitalic/interval_black_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/intervalsanspro_blackitalic/interval_black_italic-webfont.woff') format('woff'),
         url('fonts/intervalsanspro_blackitalic/interval_black_italic-webfont.ttf') format('truetype'),
         url('fonts/intervalsanspro_blackitalic/interval_black_italic-webfont.svg#IntervalSansProBlackItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Interval Sans Pro Condensed Black*/
@font-face {
    font-family: 'IntervalSansProCondensedBlack';
    src: url('fonts/intervalsanspro_condensedblack/interval_black_cond-webfont.eot');
    src: url('fonts/intervalsanspro_condensedblack/interval_black_cond-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/intervalsanspro_condensedblack/interval_black_cond-webfont.woff') format('woff'),
         url('fonts/intervalsanspro_condensedblack/interval_black_cond-webfont.ttf') format('truetype'),
         url('fonts/intervalsanspro_condensedblack/interval_black_cond-webfont.svg#IntervalSansProCondensedBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Interval Sans Pro Condensed Black Italic*/
@font-face {
    font-family: 'IntervalSansProCnBlkIt';
    src: url('fonts/intervalsanspro_condensedblackitalic/interval_black_cond_italic-webfont.eot');
    src: url('fonts/intervalsanspro_condensedblackitalic/interval_black_cond_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/intervalsanspro_condensedblackitalic/interval_black_cond_italic-webfont.woff') format('woff'),
         url('fonts/intervalsanspro_condensedblackitalic/interval_black_cond_italic-webfont.ttf') format('truetype'),
         url('fonts/intervalsanspro_condensedblackitalic/interval_black_cond_italic-webfont.svg#IntervalSansProCnBlkIt') format('svg');
    font-weight: normal;
    font-style: normal;

}









