@media screen and (max-width: 1000px) {
  .anythingWindow{display: none;}
  .anythingSlider,.anythingSlider-metallic{display: none;}
#page-wrapper {width:100%;}

  ul.nice-menu {margin:0 auto;}
    ul.nice-menu li ul li {display: none;}
  ul.nice-menu li {display:block;width:100%;float:none;border-bottom: 1px solid #333;}
  #navigation .section {width:100%;margin:0;padding:0;}
  ul.nice-menu li a {padding: 10px;}
  #block-views-work-block-1 {display: none;}
  #content-bottom {display: none;}
  #block-menu-block-2 {display: none;}
  #credit {display: none;}
  #block-nice-menus-1 {position: relative;top:0;left:0;margin-top: 50px;}
  .logo {position: relative;top:0;left:0;width: 274px;}
  ul.nice-menu li {width: 100%;}


/*Featured Blocks*/
#featured-blocks {width: 100%;}
#featured-blocks #block-block-4,
#featured-blocks #block-block-5,
#featured-blocks #block-block-6
{float: left;clear: both;margin: 0 0 10px 0;padding: 10px 0;border-top:1px dotted #666;background: none;width: 100%; }


/*Remove Main content on frontpage*/
.front #content {display: none;margin: 0;width: 0;}
.front .region-sidebar-second {margin: 0;}

ul.social {position: absolute;top:480px;left:0;display: block;margin-left: 8px;}
ul.social li {display: inline;}
}