/*****************************************************************
CSS Stylesheet  - navigation.css

Website: NewMediaDenver.com
Author: Brandt Reed
E-mail: brandt@newmediadenver.com
Created: 2011-05-18
*****************************************************************/
a.btn-edit:link,a.btn-edit:visited,a.btn-edit:active,
.btn-edit a:link,.btn-edit a:visited,.btn-edit a:active
 {
	font-family: 'IntervalSansProCondensedBold', Helvetica, Arial, sans-serif;
	background: #900000 url(../images/grad-red.png) repeat-x top left;
	color: #f3f3f3;
	padding:2px 12px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border: none;
	text-transform: uppercase;
	font-size: .8em;
	text-shadow:1px 1px 6px #282828;
display: inline-block;
margin: 5px 0;position: absolute;top:5px;right:5px;
}

a.btn-edit:hover,
.btn-edit a:hover
 {
background: #020202 url(../images/grad-black.png) repeat-x top left;
}


/* -----------------------------------------------------------------------------------------
>>> Custom Buttons <<<
------------------------------------------------------------------------------------------*/
a.btn-red:link,a.btn-red:visited,a.btn-red:active,
.btn-red a:link,.btn-red a:visited,.btn-red a:active
 {
	font-family: 'IntervalSansProCondensedBold', Helvetica, Arial, sans-serif;
	background: #900000 url(../images/grad-red.png) repeat-x top left;
	color: #f3f3f3;
	padding:2px 12px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border: none;
	text-transform: uppercase;
	font-size: .8em;
	text-shadow:1px 1px 6px #282828;
display: inline-block;
margin: 5px 0;
}

a.btn-red:hover,
.btn-red a:hover
 {
background: #020202 url(../images/grad-black.png) repeat-x top left;
}



a.btn-light:link,a.btn-light:visited,a.btn-light:active,
.btn-light a:link,.btn-light a:visited,.btn-light a:active
 {
font-family: 'IntervalSansProCondensedBold', Helvetica, Arial, sans-serif;
background-color: #efefef;
padding:0px 12px 2px 12px;
color: #666;
margin: 5px 0;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
text-transform: uppercase;
font-size: 0.8em;
}


a.btn-light:hover,
.btn-light a:hover  

{background: #900000 url(../images/grad-red.png) repeat-x top left;color: #f3f3f3;text-shadow:1px 1px 1px #282828;}









/* -----------------------------------------------------------------------------------------
>>> Navigation - Sidebar<<<
------------------------------------------------------------------------------------------*/
.sidebar .block-menu-block .content ul {margin:0;padding:0;}
.sidebar .block-menu-block .content ul li {list-style-type: none;}
.sidebar .block-menu-block .content a:link, 
.sidebar .block-menu-block .content a:visited,
.sidebar .block-menu-block .content a:active {
	font-family: 'IntervalSansProCondensedLight', Helvetica, Arial, sans-serif;
	color:#999;
	display:block;
	background: #020202 url(../images/grad-black.png) repeat-x top left;
	padding: 14px 10px;
	border-bottom: 1px solid #333;
	text-decoration: none;
	font-size: 1.4em;
	}

.sidebar .block-menu-block .content a:hover {
	color: #f3f3f3;background: #990000 url(../images/grad-red.png) repeat-x top left;
	text-shadow:1px 1px 2px #282828;
	
	}

.sidebar .block-menu-block .content li.active a,
.sidebar .block-menu-block .content li.active-trail a
 {background: #990000 url(../images/grad-red.png) repeat-x top left;padding: 14px 10px;border-bottom: 1px solid #830202;text-shadow:1px 1px 2px #282828;color: #fff;}
.sidebar .block-menu-block .content li.expanded {background-color: #fff;}
/*Level 3 */
.sidebar .block-menu-block .content li.expanded a {border: none;}
.sidebar .block-menu-block .content li.expanded ul.menu {padding: 6px 0;}
.sidebar .block-menu-block .content li.expanded ul.menu a {font-family: 'IntervalSansProCnRg', Helvetica, Arial, sans-serif;background: none;color: #333;font-size: 1.2em;padding: 2px;line-height: 1.2em;text-shadow: none;border-bottom: 1px dotted #e0e0e0;padding: 4px 4px 4px 20px;font-size: 1.0em;}
.sidebar .block-menu-block .content li.expanded ul.menu li.last a {border-bottom: none;}
.sidebar .block-menu-block .content li.expanded ul.menu a:hover {color: #990000;background-color: #efefef;}
.sidebar .block-menu-block .content li.expanded ul.menu a.active {font-weight: normal;}





/* -----------------------------------------------------------------------------------------
>>> DROPDOWN <<<
------------------------------------------------------------------------------------------*/
#navigation {
	width: 100%;
	background: #000 url(../images/grad-dark.png) repeat-x top left;
	margin-bottom: 20px;
}












#navigation .section {width: 960px; margin: 0 auto;height: 80px;position: relative;}

#block-nice-menus-1 {position: absolute;top:0px;right:0;}


#navigation a.logo {width:274px;height:60px;display: block;background: url(../images/nmd-logo.png) no-repeat 0 0;}
#navigation a.logo:hover {
background: url(../images/nmd-logo.png) no-repeat 0 -60px;
border: none;
}








