/*****************************************************************
CSS Stylesheet  - tabs.css

Website: NewMediaDenver.com
Author: Brandt Reed
E-mail: brandt@newmediadenver.com
Created: 2011-05-18
*****************************************************************/
/* -----------------------------------------------------------------------------------------
>>>  ADMIN NODE VIEW / EDIT TABS  <<<
------------------------------------------------------------------------------------------*/
.tabs {font-size: 0.9em;padding: 14px 0 11px 10px;display: block;margin: 10px 0;background-color: #282828;border-bottom: 3px solid #666;}
.tabs ul.primary {border: none;padding: 0;font-size: 0.9em;margin: 5px 0;}
.tabs ul.primary li a:link,
.tabs ul.primary li a:visited {
background-color: #ccc;
color: #333;
	padding: 6px 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
		border-radius: 12px;
		border: none;
		text-transform: uppercase;
}
.tabs ul.primary li a:hover {background-color: #fff;}

.tabs ul.primary li.active a:link,
.tabs ul.primary li.active a:visited,
.tabs ul.primary li.active a:hover 
{background-color: #fff;color: #333;font-weight: bold;cursor: default;}





/*Secondary Nav*/
.tabs ul.secondary {margin:0;padding: 10px 0;border: none;}
.tabs ul.secondary li {padding: 0;}
.tabs ul.secondary li a:link,
.tabs ul.secondary li a:visited {
color: #f3f3f3;
	padding: 6px 10px 4px 10px;
}

.tabs ul.secondary li a:hover {color: #9edae7;}
.tabs ul.secondary li.active a:link,
.tabs ul.secondary li.active a:visited,
.tabs ul.secondary li.active a:hover 
{color: #c9af60;font-weight: bold;cursor: default;background: none;border: none;}











/* -----------------------------------------------------------------------------------------
>>>  QUICKTABS  <<<
------------------------------------------------------------------------------------------*/

.quicktabs_main.quicktabs-style-basic{
  background-color:#fff;
	border-top:5px solid #990000;
  padding: 20px ;
  clear:both;

}
ul.quicktabs-tabs.quicktabs-style-basic{
font-family: 'IntervalSansProCnUltraLt', Helvetica, Arial, sans-serif;
  padding:0 5px 0 0;
  font-weight:bold;
  margin:0;
  font-size: 1.6em;
  border:none;
  text-transform: uppercase;  margin-top: 20px;
}
ul.quicktabs-tabs.quicktabs-style-basic a{
  text-decoration:none;
  color:#aaa;
   display: block;
   float: left;
  padding: 15px 20px;  background: #020202 url(../images/grad-black.png) repeat-x top left;
}
ul.quicktabs-tabs.quicktabs-style-basic a:hover{
    background: #990000 url(../images/grad-red.png) repeat-x top left;
    color:#f3f3f3;
}
ul.quicktabs-tabs.quicktabs-style-basic li{
  border-bottom:none;
white-space: normal;
  margin:0 3px 0 0;
  position:relative;

}
ul.quicktabs-tabs.quicktabs-style-basic li:hover{
  border-bottom:none;

}
ul.quicktabs-tabs.quicktabs-style-basic li.active{
  background-color:#fff;

}
ul.quicktabs-tabs.quicktabs-style-basic li.active a{
  color:#f3f3f3;
  background: #990000 url(../images/grad-red.png) repeat-x top left;
}








