/*****************************************************************
CSS Stylesheet  - views.css

Website: NewMediaDenver.com
Author: Brandt Reed
E-mail: brandt@newmediadenver.com
Created: 2011-05-18
*****************************************************************/
/* -----------------------------------------------------------------------------------------
>>> GLOBAL<<<
------------------------------------------------------------------------------------------*/
.view-content {overflow: hidden;}
.views-row {position: relative;}


/* -----------------------------------------------------------------------------------------
>>> VIEW - FAQ INDEX<<<
------------------------------------------------------------------------------------------*/
.view-faqs h2 {background-color: #efefef;padding: 6px 5px;cursor: pointer;border: 1px solid #e0e0e0;font-size: 1.1em;color: #666;}
.view-faqs h3 {color: #990000;font-size: 2em;margin:20px 0 10px;padding:0;}
.view-faqs .views-field-body {background-color: #fff;padding: 10px;}

.view-faqs h2:hover {background-color: #fff;}



/* -----------------------------------------------------------------------------------------
>>> VIEW - CLIENT DASHBOARD <<<
------------------------------------------------------------------------------------------*/
#webform-client-form-215 fieldset {float: left;border: none;}
#webform-client-form-215 fieldset legend {display: none;}
#webform-client-form-215 #webform-component-fieldset-contact-information {width:310px;}
#webform-client-form-215 #webform-component-fieldset-questions {width:300px;}
#webform-client-form-215 input {width: 260px;}

/*Open Service Requests*/
.view-client-service-tickets .views-row {padding: 10px;background-color: #efefef;border: 1px dashed #ccc;margin: 20px 0;}
.view-client-service-tickets h3 {margin:0;padding:0;}




